{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block content %}
    <h1>My Books</h1>
    <a href="{{ url_for('auth.logout_handler') }}">Logout</a>
    <br>
    <a href="{{ url_for('books.book_add_handler') }}">Create new book</a>


    {% if books %}
        <ul>
            {% for book in books %}
                <li>

                    {% if book.cover_image %}
                        <img
                            src="{{ url_for('static',
                                filename='uploads/covers/' + book.cover_image) }}"
                            width="120"
                        >
                    {% endif %}

                    <a href="{{ url_for('books.book_details_handler', book_id=book.id) }}">
                        {{ book.title }}
                    </a>
                    {{ book.status }}
                </li><br><br>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no books on your shelf as of now.</p>
    {% endif %}


{% endblock %}