{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block content %}
    <h1>My Books</h1>
    <a href="{{ url_for('auth.logout_handler') }}">Logout</a>
    <br>
    <a href="{{ url_for('books.book_creation_handler') }}">Create new book</a>


    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    {{ book.title }}
                    {{ book.status }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There is no books on your shelf as of now.</p>
    {% endif %}


{% endblock %}